version: '3.8'

services:
  jira_db:
    image: postgres:14-alpine
    container_name: jira_postgres_prod
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER_PROD} # reading environment variables 
      POSTGRES_PASSWORD: ${POSTGRES_PASS_PROD}
      POSTGRES_DB: jiradb
    volumes:
      - postgresqldata_prod:/var/lib/postgresql/data
    networks:
      - jiranet
    deploy:
      resources:
        limits:
          memory: 2G # limiting database
    # container-level hardening
    security_opt:
      - no-new-privileges:true

  jira:
    image: atlassian/jira-software:9.12.0
    container_name: jira_software_prod
    restart: always
    depends_on:
      - jira_db
    ports:
      # only localhost can see it
      # nginx sends traffic to this port
      - "127.0.0.1:8080:8080"
    environment:
      - ATL_JDBC_URL=jdbc:postgresql://jira_db:5432/jiradb
      - ATL_JDBC_USER=${POSTGRES_USER_PROD}
      - ATL_JDBC_PASSWORD=${POSTGRES_PASS_PROD}
      - ATL_DB_DRIVER=org.postgresql.Driver
      - ATL_DB_TYPE=postgres
      
      # safe proxy settings (HTTPS Offloading)
      # this dhould be your real domain name
      - ATL_PROXY_NAME=jira.yourcompany.com
      - ATL_PROXY_PORT=443
      - ATL_PROXY_SCHEME=https
      # increase cookies safety
      - ATL_TOMCAT_CONTEXTPATH=
      
      # ram resources
      - JVM_MINIMUM_MEMORY=2048m
      - JVM_MAXIMUM_MEMORY=4096m
    volumes:
      - jiradata_prod:/var/atlassian/application-data/jira
      # time sync for security logs
      - /etc/localtime:/etc/localtime:ro
    networks:
      - jiranet
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 6G
    security_opt:
      - no-new-privileges:true

volumes:
  jiradata_prod:
  postgresqldata_prod:

networks:
  jiranet:
    # considering this network has been built previously
    external: true
    name: jiranet
